<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023-2025 Logan Dhillon. All rights reserved. This software and its contents are protected
  ~ by copyright law and are provided "as-is". This software may not be modified without explicit
  ~ permission from the authors of this project. Redistribution is strictly prohibited!
  -->

<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%style{[%d{HH:mm:ss}]}{bright_blue} %highlight{[%t/%level]}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=blue} %style{(%c{0})}{cyan} %highlight{%msg}{FATAL=red, ERROR=red, WARN=default, INFO=default, DEBUG=default, TRACE=default}%n"/>
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <File name="LatestLog" fileName="logs/latest.log" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] (%c{1}) %msg%n"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- debug for ALL loggers; only LatestLog will accept it -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LatestLog"/>
        </Root>
    </Loggers>
</Configuration>